.main-header {

  height: $sc-navbar-height;
  transition: all 300ms ease-out;

  // Thanks to AdminLTE
  //Logo bar
  .logo {
    background-color: darken($sc-primary, 5%);
    color: $sc-logo-color;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 300;
    height: $sc-navbar-height;
    line-height: $sc-navbar-height;
    overflow: hidden;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    // set the animation duration for resize
    transition: width 300ms ease-out;
    width: $sc-sidebar-width;

    //Add support to sidebar mini by allowing the user to create
    //2 logo designs. mini and lg
    .logo-large {
      //should be visibile when sidebar isn't collapsed
      display: block;
    }

    .logo-mini {
      display: none;
    }

  }

  .navbar-wrapper {
    background-color: $sc-primary;
  }

  .navbar {
    background-color: $sc-primary;
    background-repeat: repeat-x;
    border: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    height: $sc-navbar-height;
    min-height: $sc-navbar-height;
    padding-bottom: 0;
    padding-top: 0;
    z-index: 2000;

    div {
      height: 100%;
    }

    .navbar-nav {
      height: 100%;
      line-height: 2rem;
      .nav-item {
        &:hover {
          background-color: lighten($sc-primary, 4%);
        }
      }
    }
  }

}

@include media-breakpoint-between(xs, sm) {

  .main-header {
    .navbar-wrapper {

      .logo {

        width: 200px;

      }

    }

  }

}

@include media-breakpoint-down(xs) {

  .main-header {

    height: 100px;
    width: 100%;

    .navbar-wrapper {

      .logo {

        display: block;
        float: none;
        width: 100%;

      }

    }

  }

}
