.login-page, .register-page, .forgot-password-page {

  background: #fafafa;

  .container {
    min-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .form-box {
    background: white;
    border-radius: 1px;
    box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.16), 0 0 19px 0 rgba(0, 0, 0, 0.16);
    margin: 0 auto;
    max-width: 100%;
    min-height: 350px;
    padding: 14px 18px;
    width: 400px;
  }

  .logo {
    background: #5599ff;
    border-radius: $border-radius;
    color: #fff;
    font-size: 70px;
    font-weight:500;
    height: 125px;
    line-height: 125px;
    margin: 18px auto;
    max-width: 100%;
    text-align: center;
    width: 125px;

    img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: baseline;
      border-radius: inherit;
    }

  }

  .form-check-label {
    padding-left: 0;
  }

}

@include no-flexbox() {

  .login-page, .register-page, .forgot-password-page {

    .form-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }

    .container {
      position: relative;
    }

  }

}

